@page "/employees"
@using evidence_zamestancu.Client.Models
@inject HttpClient Http
@inject IJSRuntime JsRuntime

<PageTitle>Employees</PageTitle>

<h1>List of employees</h1>

<p>This page displays all employees from our database.</p>

@if (employees == null)
{
    <p><em>Loading data from the server...</em></p>
}
else if (employees.Count == 0)
{
    <div class="alert alert-warning">
        There are currently no employees in the database. The table is empty!
    </div>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>BirthDate</th>
            <th>Position</th>
            <th>IP Address</th>
            <th>IP Country code</th>
        </tr>
        </thead>
        
        <tbody>
             @foreach (var emp in employees)
             {
                 <tr>
                     <td>@emp.Name</td>
                     <td>@emp.Surname</td>
                     <td>@emp.BirthDate</td>
                     <td>@(emp.Position?.PositionName ?? "No position")</td>
                     <td>@emp.IPaddress</td>
                     <td>@emp.IPCountryCode</td>
                     <td>
                         <button class="btn btn-danger btn-sm my-1" @onclick="() => DeleteEmployee(emp.EmployeeID)">Delete</button>
                     </td>
                 </tr>
             }  
        </tbody>
    </table>
}

@code{

    private async Task DeleteEmployee(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this employee?");

        if (confirmed)
        {
            var response = await Http.DeleteAsync("https://localhost:7248/api/Employees/" + id);
            
            if (response.IsSuccessStatusCode)
            {
                employees.RemoveAll(e => e.EmployeeID == id);
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("alert", "Error while deleting employee");
            }
        }
    }
}

@code{
    private List<Employee>? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await Http.GetFromJsonAsync<List<Employee>>("https://localhost:7248/api/Employees");
    }

}